:root{
    --blanco: #ffffff;
    --grisClaro: #DFE9F3;
    --marron: #892110;
    --grisOscuro: #3c3c3c;
}

html{
    font-family: "Helvetica";
    box-sizing:border-box;
    height: auto;
    width: 100%;
}

body {
    line-height: 1.3em;
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--marron) 140%);
}

header {
    background-color: var(--grisOscuro);
    color: white;
    height: auto;
    margin: 0 auto;
    border-radius: .5em;
}

.contenedorIconos {
    background-color: var(--grisOscuro);
    color: white;
    height: 14rem;
    margin: 0 auto;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
    line-height: 1.3em;
    margin: 2rem 2rem 1rem 2rem;
    padding-top: 2rem;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.3em;
    margin: 1rem 2rem 1rem 2rem;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left; 
}

h3 {
    font-size: 1.3rem;
    line-height: 1.3em;
    margin: 1rem 2rem 1rem 2rem;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left;
}

.foto {
    height: 13rem;
    width: 13rem;
    float: right;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: .5em;
}

.icono {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem 0 1rem 2rem;
    position: relative;
    display: inline-block;
}

main {
    font-size: 1.3rem;
    line-height: 1.3em;
    margin: 1rem 1rem 1rem 1rem;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 99%;
}

.contenedor {
    max-width: 120rem;
    /*height: 95%;*/
    width: 80%;
    height: auto;
    margin: 5rem 10% 5rem 10%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--grisClaro);
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.titulo {
    font-size: 2rem;
    line-height: 1.3em;
    margin: 0.5rem 0 1rem 0;
    padding-top: 2rem;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left;
}

.nombreEmpresa {
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left;
}

.nombrePuesto {
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 700;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left;
}

.cargos {
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left;  
}

.info {
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 300;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: .5em;
    width: 100%;
    text-align: left;   
}

hr {
    width: 98%;
}

/* footer */
.footer {
    background-color: var(--grisOscuro);
    color: white;
    height: 2rem;
    margin: 0 auto;
    border-radius: .5em;
    text-align: center;
    line-height: 2;
}